a:visited {
  text-decoration: none;
  color: inherit;
}

.App {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgb(236, 217, 142);
  padding: 10px;
}

.App-header {
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  width: fit-content;
  text-decoration: none;
  border: solid;
  border-radius: 30px;
  background-color: blanchedalmond;
}
.App-header_link {
  text-decoration: none;
  text-align: center;
}

.header_text {
  text-decoration: none;
}

.article-list {
  list-style-type: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border: hidden;
  border-radius: 30px;
  padding: 20px;
  margin: 15px;
  background-color: whitesmoke;
}

navList {
  text-decoration: none;
}

.navList_link {
  text-decoration: none;
}
.navList_item {
  text-align: left;
  font-size: larger;
  text-decoration: none;
  list-style-type: none;
  border-style: hidden;
  background-color: whitesmoke;
  margin: 10px;
  padding: 30px;
  border-radius: 30px;
  width: auto;
  font-family: Arial, Helvetica, sans-serif;
}
